<div id="alarmEventPopup" class="modal fade">
    <div id="dialogContent" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>You have 1 upcoming event!</h2>
                <button class="close" data-dismiss="modal" area-hidden="true">x</button>

            </div>
            <div class="modal-body alarmEventPopupBody">
            </div>
            <div class="modal-footer" style="margin-top:0">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>

