<div id="alarmPopup" class="modal fade">
    <div id="dialogContent" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" area-hidden="true">x</button>
                    <div class="headerAlarmEvent"></div>
                
            </div>
            <div class="modal-body alarmPopupBody">
                <div id="loadingAlarmEvent"> <h2>Loading...</h2></div>
            </div>
            <div class="modal-footer" style="margin-top:0">
                <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>

