<div id="infoDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" area-hidden="true">x</button>
                <h4>Детали события</h4>

            </div>
            <div class="modal-body">
                <form id="EventDetailsForm" class="well">
                    <input type="hidden" name="Id" id="Id">
                    <label>Event title</label>
                    <input type="text" name="Title" class="form-control" id="Title" placeholder="Title here">
                    <label>Event description</label>
                    <input type="text" name="Description" class="form-control" id="Description" placeholder="Description here">

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" id="btnPopupRemove" data-dismiss="modal" class="btn">Remove</button>
                <button type="button" id="btnPopupEdit" data-dismiss="modal" class="btn btn-primary">Edit</button>

            </div>
        </div>
    </div>
</div>
