<div id="infoDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding-left:40%;">
                <button class="close" data-dismiss="modal" area-hidden="true">x</button>
                <h4>Event details</h4>
            </div>
            <div class="modal-body">
                <div id="EventInfoForm" class="well zero" style="padding:15px;">
                    <input type="hidden" name="Id" id="infoId">
                    <table class="table table-striped table-bordered zero">
                        <thead>
                            <tr class="success">
                                <td><b>Parameter</b></td>
                                <td><b>Value</b></td>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr>
                                <td ><b>Title:</b></td>
                                <td id="infoTitle"></td>
                            </tr>
                            <tr>
                                <td><b>Description:</b></td>
                                <td id="infoDescription"></td>
                            </tr>
                            <tr>
                                <td><b>Start date:</b></td>
                                <td id="infoDateStart"></td>
                            </tr>
                            <tr>
                                <td><b>End date:</b></td>
                                <td id="infoDateEnd"></td>
                            </tr>
                            <tr>
                                <td><b>Location:</b></td>
                                <td id="infoLocation"></td>
                            </tr>
                            <tr>
                                <td><b>Category:</b></td>
                                <td id="infoCategory"></td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnPopupRemove" data-dismiss="modal" class="btn">Remove</button>
                <button type="button" id="btnPopupEdit" data-dismiss="modal" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>
